@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



body {
  font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}

h1, h2 {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 300%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    color: teal;
}

#title-link {
    text-decoration: none;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    font-size: 120%;
    letter-spacing: 4px;
    padding-top: 20px;
 
}

#navbar li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-right: 30px;
    font-weight: 600px;
    
}

#navbar a {
    text-decoration:none;
    color: inherit;
}

#navbar a:hover {
    color: teal;
}

.active {
    border-bottom: 3px solid #3a3a3a;
    text-decoration: none;
}
#return:link, #return:visited {
    background-color: dimgrey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
    
}

#return:hover, #return:active {
    background-color: grey;
}

#welcome {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}

#description {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 500px;
    margin-bottom: 20px;
    font-size: 20px;   
}

#hero-images {
    clear: both;
    line-height: 0;
    column-gap: 0;
    width:100%;
    height: 400px;
    margin-right: 0px;
    display: flex;
}

.hero {
    flex-direction: row;
    width: 33.333%;
    margin: 0;
    padding: 0;
    height: 400px;
}

/* Container holding the image and the text */
.hero-container {
    position: relative;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 40px;
    right: 100px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
}

.homepage-link {
    text-decoration: none;
    color: inherit;
}

#question {
     display: flex;
    justify-content: center; 
    margin-bottom: 10px;
    padding:0;
    margin-top: 30px;  
}

#contact-us {
    display: flex;
    justify-content: center;
    font-weight: 500px;
    margin-bottom: 20px;
    font-size: 20px;  
    padding: 0;
    color: teal;
    text-decoration: none;   
}

#contact-text {
    margin: 0; 
    text-decoration: none;
}


/*Header image*/
#circle-container {
    width: 150px;
    height: 150px;
    padding: 10px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 5px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-image {
    background: url(images/icon.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#center-about {
    margin-bottom: 20px;
    margin-top: 20px;
}


/*Quick links*/

.dropbtn {
    background-color: teal;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 80%;

  

}

.dropdown {
    text-align: center;
/*    max-width: 100%;*/
    align-content: center;
        width: 80%;
    margin-left: 10%;

}

.dropdown-content {
  display: none;
  text-align: center;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
        width: 80%;
    margin-left: 10%;
}

.dropdown-content a {
  color: black;
  padding: 12px 35px;
  text-decoration: none;
  display: inline-block;
    justify-content: space-around;
}

.dropdown-content a:hover {background-color:lightgray;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:dimgrey;
}

#quick-link {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    font-size: 110%;
    letter-spacing: 4px;
    padding-top: 20px;
    
    
}

.quick-link {
    text-decoration: none;
    font-weight: 500;
    color: teal;
    font-size: 18px;
    
    
}



/*Cover image*/

#cover-image-outer {
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    
}


#cover-image {
    height: inherit;
    width: inherit;
/*    background: url(images/Divers_descending.jpg) no-repeat center center;*/
}

/*Dive sites */


.county-name {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

h3 {
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-top: 15px;
}


h4 {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
  
}

p {
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}

.dive-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: bold;
    color: teal;
}

.content-container {
    display: flex;
    height: 400px;
    width: 700px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 20px;
    padding-left: 20px;
    margin-bottom: 0;
   
}

.content {
    display: flex;
    list-style: none;
    flex-direction: column;
    text-align: justify;
    margin-left: 5px;
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.icon {
    margin-right: 10px;
    margin-left: 10px;
   
}

.location {
  /* Add shadows to create the "card" effect */
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
/*    background-color: rgba(88,95,99, 0.9);*/
   
    margin-left: 70px;
    margin-right: 70px;

}

/* On mouse-over, add a deeper shadow */
.location:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}




/*Images*/

.dive-image {
    height: 400px;
    width: 700px;
    display: flex;
    background-size: contain;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 15px;
 
}

#image-1 {
    background: url('images/jellyfish.jpeg') no-repeat center center;
    background-size: contain;
    
}

#image-2 {
    background: url('images/fish.jpg') no-repeat center center;
    background-size: contain;
}

#image-3 {
    background: url('images/diver_ascending.jpg') no-repeat center center;
    background-size: contain;
}

#image-4 {
    background: url('images/sunset.jpeg') no-repeat center center;
    background-size: contain;
}

#image-5 {
    background: url('images/divers_above.jpeg') no-repeat center center;
    background-size: contain;
}

#image-6 {
    background: url('images/diver2.JPG') no-repeat center center;
    background-size: contain;
}

#image-7 {
    background: url('images/dusty4.jpeg') no-repeat center center;
    background-size: contain;
}


.image-text-container {
    display: flex;
    padding-bottom: 15px;
}

/*Google maps link*/
.map {
    text-align: center;
    display: inline;
}

#return-to-top {
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: teal;
}

/*Photos for gallery page*/

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

.gallery {
    margin-bottom: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/*Videos*/

.video {
    display: flex;
    margin-top: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.youtube {
    margin-top: 30px;
    
}


/* Form */

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.signup-form {
    margin: 50px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 650px;
    position: absolute;
    left: 19%;
    padding:30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 33%;
    height: 25px;
    margin: 5px 10px 20px 10px;
    border: 1px solid #fafafa;
    border-radius:2px;
}

#your-comment {
    background: transparent;
    color: #fafafa;
    width: 79%;
    height: 50px;
    margin: 5px 0 20px 10;
    border: 1px solid #fafafa;
    border-radius:2px;
}

#email {
    width: 79%;
}

.send-button {
    width: 50%;
    margin-left: 22%;
    margin-top: 30px;
    border-radius: 2px;
    padding: 15px 25px;
    text-align: center;
    font-size: 100%;
    background-color: teal;
    color: #fafafa;
    display: block;
    text-decoration: none;
}

.send-button:hover {
    background-color: steelblue;
   
}
    


/*Footer*/

footer {
    height: 80px;
}

.social-networks {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#thankyou {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 200%;
    color: teal;
}

#return {
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-size: 100%;
        width: 87%;
}

#rtnhome {
    margin: auto;
  width: 30%;
  padding: 10px;
}


/*For medium screen sizes from 950px wide and down*/
@media screen and (max-width: 950px) and (min-width: 800px) {
    #hero-images {
        height: 300px;
    }

    .hero {
        height: 300px;
    }
    
    #description > h3 {
        margin: 0;
    }
    
    .text-block {
        bottom: 10px;
        right: 20px;
    }
    
    #quick-link {
        margin-left: 60px;
    }
    
    .quick-link {
        font-size: medium;
    }
    
    .location {
        margin-left: 40px;
        margin-right: 40px;

    }
    
    .content-container {
        margin-left: 0; 
        padding-left: 0; 
        margin-bottom: 50px;
    }
    
    .dive-info {
        padding-right: 40px;
        padding-left: 0px;
    }
    
    h3 {
        margin-left: 0;
    }
    
    #photos {
        column-count: 2;
    }
    
    #description {
        text-align: center;
    }
    
    .signup-form {
        position: inherit;
        
    margin-left: 55px;
    }
    .text-input {
        width: 32%;
    }
    #email {
        width: 78%;
    }
    #your-comment{
        width: 78%;
    }

}

/*For small screenn sizes 800px and down*/

@media screen and (max-width: 800px) {
    
    
    #title {
        text-align: center;
        font-size: 35px;
}

    #navbar {
        text-align: center;
        padding: 0;
 
}
    #navbar li {
        font-size: 11px;
        text-align: center;
        margin: 0;
        font-weight: bold;
}
    
    #circle-container {
        width: 80px;
        height: 80px;
        border-width: 3px;
}
    .hero {
        height: 130px;
    }
    
    #welcome {
        text-align: center;
        font-size: 12px;
        margin-top: 5px; 
}
    #welcome > h1 {
        padding-top: 0;
        margin: 0;
    }
    
    #description > h3 {
        margin: 0;
        text-align: center;
        font-size: 15px;
    }
    
    .hero-container {
        height: 235px;
    }
    
    .text-block {
        text-align: center;
        font-size: 15px; 
        margin-left: 20%;
        margin-right: 20%;
        position: unset;
    }
    
    #block-sect{
        margin-top: 90px;
    }
    
    #question {
        text-align: center;
        font-size: 10px;
}
    
    #contact-us {
        text-align: center;
        font-size: 15px;  
        margin-bottom: 50px;
}
    
    #footer {
        height: 50px;
    }
    
    .social-networks {
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0;
    }
    
    .social-networks i {
    font-size: 120%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
    #return-to-top {
        font-size: 90%;
    }
    
    #quick-link {
        padding: 0;
        text-align: center;
    }
    
    .quick-link {
        font-size: 10px;
        text-align: center;
        margin: 5px; 
        font-weight: bold;
    }
    
    .county-name {
        text-align: center;
        padding: 0;
        margin: 10px;
    }
    
    .county-name > h1 {
        font-size: 15px;
    }
    
    h3 {
        margin: 0;
        font-size: 16px;
    }
    
    .location {
        margin-left: 10px;
        margin-right: 10px;
    }
    .image-text-container{
        display: block;
    }
    .content-container {
        margin: 0; 
        padding-left: 0; 
        margin-bottom: 50px;
        width:97%;  
        text-align: center;
        display: inline-block;
        height: inherit;
        margin-bottom: 20px;
    }
    
    .content > li {
        margin-left: 5px;
        font-size: 15px;
    }
    
    .dropbtn {
    font-size: 12px;
    }
    
    .content {
        text-align: center;
        margin: 0;
        padding: 0;
}
    .dive-info {
        padding: 0;
        font-size: 10px;
        text-align: center;
    }
    
    .headings {
        font-size: 12px;
        margin-left: 10px;
    }
    
    .tblock {
        font-size: 11px;
        text-align: left;
        margin-left: 10px;
    }
    
    .map {
        font-size: 11px;
        text-align: left;
    }

    
    h3 {
        margin-left: 0;
    }
    
    .social-networks {
        
    }
   
    .dive-image {
        align-content: center;
        width: 80%;
        height: 200px;
    }
    
    #photos {
        column-count: 2;
    }
    
    .video {
        column-count: 1;
        margin: 5px;
       
}
    .youtube{
        margin-top: 10px;
    }
    
    .youtube > iframe {
        max-width: 100%;
        max-height: inherit;
    }
    
    #hero-images {
        height: 150px;
        width:100%;
    }
    
    .hero-container {
        height: 140px;
    }
    
    
    #description {
        text-align: center;
    }
    
    .signup-form {
        position: inherit;
        margin: 20px;
        padding: 10px;
    }
    
    .signup-form > h2 {
        font-size: 15px;
    }
    
    .signup-form > label {
        font-size: 13px;
        margin-bottom: 5px;
        padding-left: 5px;
    }
    
    .text-input {
        width: 21%;
        height: 13px;
        margin: 5px;
    }
    
    #email {
        width: 94%;
    }
    
    #your-comment{
        width: 94%;
    }
    
     .signup-form > p {
        font-size: 13px;
        margin-bottom: 5px;
        padding-left: 5px;
    }

    .send-button {
        text-align: center;
        font-size: 100%;
        margin: 0;
        margin-left: 53px;
        padding: 0px;
        text-decoration: none;
    
}
    
    #yes {
        margin-bottom: 15px;
    }
  
    .form-section {
        display: inline-block;
        max-height: 400px;
    }
}
