
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1, h2 {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#title {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 280%;
    
}

#title-link {
    text-decoration: none;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    font-size: 110%;
    letter-spacing: 4px;
    padding-top: 100px;
    
}

#navbar li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-right: 30px;
}

#navbar a {
    text-decoration:none;
    color: inherit;
}

#navbar a:hover {
    color: teal;
}

.active {
   border-bottom: 3px solid #3a3a3a;
}

/*Cover image*/

#cover-image-outer {
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    
}

#cover-image {
    height: inherit;
    width: inherit;
    background: url(images/Divers_descending.jpg) no-repeat center center;
}

/*Dive sites */


#county {
    display: flex;
    justify-content: center;
    
}

h3 {
    display: flex;
    margin-left: 30px;
}

.dive-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

#content-container {
    display: flex;
    height: 500px;
    width: 500px;
}

.content {
    display: flex;
    list-style: none;
    flex-direction: column;
    
}